[submodule "Dependencies/Website"]
	path = Dependencies/Website
	url = git@github.com:samdeane/actionstatus.elegantchaos.com.git
[submodule "Dependencies/Runtime"]
	path = Dependencies/Runtime
	url = git@github.com:elegantchaos/Runtime.git
[submodule "Dependencies/Application"]
	path = Dependencies/Application
	url = git@github.com:elegantchaos/Application.git
[submodule "Dependencies/Commands"]
	path = Dependencies/Commands
	url = git@github.com:elegantchaos/Commands.git
[submodule "Dependencies/Icons"]
	path = Dependencies/Icons
	url = git@github.com:elegantchaos/Icons.git
[submodule "Dependencies/Settings"]
	path = Dependencies/Settings
	url = git@github.com:elegantchaos/Settings.git
[submodule "Dependencies/Previews"]
	path = Dependencies/Previews
	url = git@github.com:elegantchaos/Previews.git
