[submodule "Dependencies/Sparkle"]
	path = Dependencies/Sparkle
	url = https://github.com/elegantchaos/Sparkle.git
[submodule "Dependencies/Website"]
	path = Dependencies/Website
	url = https://github.com/samdeane/actionstatus.elegantchaos.com.git
[submodule "Dependencies/CatalystSparkle"]
	path = Dependencies/CatalystSparkle
	url = https://github.com/elegantchaos/CatalystSparkle
[submodule "Dependencies/ReleaseTools"]
	path = Dependencies/ReleaseTools
	url = git@github.com:elegantchaos/ReleaseTools.git
