// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 18/02/2026.
//  Copyright © 2026 Elegant Chaos Limited. All rights reserved.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

ACTION_STATUS_NAME = Action Status
ACTION_STATUS_IDENTIFIER = com.elegantchaos.actionstatus
ACTION_STATUS_COPYRIGHT = Copyright © 2026 Elegant Chaos Limited. All rights reserved.

MARKETING_VERSION = 3.0
RT_VERSION = $(MARKETING_VERSION)
RT_BUILD = 0
CURRENT_PROJECT_VERSION = $(RT_BUILD)

IPHONEOS_DEPLOYMENT_TARGET = 26.0
TVOS_DEPLOYMENT_TARGET = 26.0
MACOSX_DEPLOYMENT_TARGET = 26.0

SWIFT_VERSION = 5.0
