// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-


#include "BuildNumber.xcconfig"
#include "Dependencies/ReleaseTools/ReleaseTools.xcconfig"

RT_VERSION = 1.0.1
RT_PRODUCT_NAME = Action Status
RT_SHORT_NAME = ActionStatus
RT_BUNDLE_IDENTIFIER = com.elegantchaos.actionstatus
RT_TEAM = 2H48644JM2

// uncomment the line below to force the build number to something old, in order to test Sparkle
//RT_BUILD = 100

