// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "BuildNumber.xcconfig"
#include "../../Tools/Tools.xcconfig"

RT_VERSION = 1.0.2
RT_PRODUCT_NAME = Action Status
RT_SHORT_NAME = ActionStatus
RT_BUNDLE_IDENTIFIER = com.elegantchaos.actionstatus
RT_TEAM = 2H48644JM2

ACTION_STATUS_ADDITIONAL_FRAMEWORKS = 

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon$(RT_TYPE)

//TARGETED_DEVICE_FAMILY = 1,2,6
//SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
//IPHONEOS_DEPLOYMENT_TARGET = 14.2
//MACOSX_DEPLOYMENT_TARGET = 11.0
