// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "Sources/ActionStatusCommon/Resources/ActionStatus.xcconfig"

ACTION_STATUS_TYPE = Tests
CODE_SIGN_ENTITLEMENTS =
PRODUCT_MODULE_NAME = $(TARGET_NAME)
SWIFT_OBJC_BRIDGING_HEADER =
INFOPLIST_FILE = Tests/$(TARGET_NAME)/Info.plist
