// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "../Tools/Tools.xcconfig"

RT_VERSION = 2.0.7
RT_PRODUCT_NAME = Action Status
RT_SHORT_NAME = ActionStatus
RT_BUNDLE_IDENTIFIER = com.elegantchaos.actionstatus
RT_TEAM = 2H48644JM2
RT_COPYRIGHT = Copyright © 2022 Elegant Chaos Limited. All rights reserved.

ACTION_STATUS_ADDITIONAL_FRAMEWORKS =

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon$(RT_TYPE)
