// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "Dependencies/ReleaseTools/Configs/RTCatalyst.xcconfig"
#include "Sources/ActionStatus/Resources/ActionStatus.xcconfig"

OTHER_LDFLAGS = $ACTION_STATUS_ADDITIONAL_FRAMEWORKS

// Uncomment the lines below to test Sparkle
//RT_BUILD = 100
//#include "Sources/ActionStatus/Resources/IncludeSparkle.xcconfig"
