// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "BuildNumber.xcconfig"

CONFIG_ROOT = $(SOURCE_ROOT)/Configs

ACTION_STATUS_VERSION = 1.0
ACTION_STATUS_BUILD = ${BUILD_NUMBER}
ACTION_STATUS_COMMIT = ${BUILD_COMMIT}
ACTION_STATUS_COPYRIGHT = Copyright © 2020 Elegant Chaos Limited. All rights reserved.
ACTION_STATUS_PRODUCT_NAME = Action Status
ACTION_STATUS_SOURCE_ROOT = $(SOURCE_ROOT)/Sources
ACTION_STATUS_RESOURCE_ROOT = $(ACTION_STATUS_SOURCE_ROOT)
ACTION_STATUS_RESOURCE_CONTAINER = Resources
ACTION_STATUS_SOURCE_PATH = $(ACTION_STATUS_SOURCE_ROOT)/$(TARGET_NAME)
ACTION_STATUS_RESOURCE_PATH = $(ACTION_STATUS_RESOURCE_ROOT)/$(TARGET_NAME)/$(ACTION_STATUS_RESOURCE_CONTAINER)
ACTION_STATUS_COMMON_NAME = ActionStatusCommon
ACTION_STATUS_COMMON_SOURCE_PATH = $(ACTION_STATUS_SOURCE_ROOT)/$(ACTION_STATUS_COMMON_NAME)
ACTION_STATUS_COMMON_RESOURCE_PATH = $(ACTION_STATUS_RESOURCE_ROOT)/$(ACTION_STATUS_COMMON_NAME)/$(ACTION_STATUS_RESOURCE_CONTAINER)
ACTION_STATUS_BUNDLE_IDENTIFIER = com.elegantchaos.actionstatus

// location of our build and release scripts
ACTION_STATUS_SCRIPTS_PATH = $(PROJECT_DIR)/.bin

// location of the AppKit built products (used to find AppKit things when we're building for Catalyst)
ACTION_STATUS_MAC_PRODUCTS_DIR= ${BUILT_PRODUCTS_DIR}/../${CONFIGURATION}

// location of the Resources/ folder inside the built application
ACTION_STATUS_BUILT_RESOURCES_DIR = ${BUILT_PRODUCTS_DIR}/${CONTENTS_FOLDER_PATH}/Resources

// location of the XPCServices/ folder inside the built application
ACTION_STATUS_BUILT_XPCSERVICES_DIR = ${BUILT_PRODUCTS_DIR}/${CONTENTS_FOLDER_PATH}/XPCServices

// location of the ReleaseTools executable
RELEASE_TOOLS = $(ACTION_STATUS_SCRIPTS_PATH)/rt

INFOPLIST_FILE = $(ACTION_STATUS_RESOURCE_PATH)/Info.plist
DEVELOPMENT_ASSET_PATHS = $(ACTION_STATUS_COMMON_RESOURCE_PATH)/PreviewContent
PRODUCT_NAME = $(ACTION_STATUS_PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(ACTION_STATUS_BUNDLE_IDENTIFIER)
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 2H48644JM2
SWIFT_VERSION = 5.0
ENABLE_PREVIEWS = YES
CODE_SIGN_ENTITLEMENTS = $(ACTION_STATUS_RESOURCE_PATH)/ActionStatus.entitlements
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon$(ACTION_STATUS_TYPE)
PRODUCT_MODULE_NAME = ActionStatus
SWIFT_OBJC_BRIDGING_HEADER = $(ACTION_STATUS_COMMON_RESOURCE_PATH)/BridgingHeader.h

