// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "Sources/ActionStatusCommon/Resources/ActionStatus.xcconfig"

ACTION_STATUS_TYPE = Bridge

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.15
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
ENABLE_HARDENED_RUNTIME = YES
COMBINE_HIDPI_IMAGES = YES
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Bundles
SKIP_INSTALL = YES

BUNDLE_IDENTIFIER = $(ACTION_STATUS_BUNDLE_IDENTIFIER).appkitbridge
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = bundle
CLANG_ENABLE_MODULES = YES
SWIFT_OBJC_BRIDGING_HEADER = $(ACTION_STATUS_RESOURCE_PATH)/BridgingHeader.h
CODE_SIGN_ENTITLEMENTS =
PRODUCT_MODULE_NAME = AppKitBridge
