// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

RT_CONFIG_ROOT = $(SOURCE_ROOT)/Configs

// Individual project should set these
RT_PRODUCT_NAME = ForgotToSetProductName
RT_SHORT_NAME = ForgotToSetShortName
RT_ICON_NAME = AppIcon
RT_BUNDLE_IDENTIFIER = forgot.to.set.bundle.id
RT_VERSION = 1.0

// These can usually be inherited
RT_BUILD = ${BUILD_NUMBER}
RT_COMMIT = ${BUILD_COMMIT}
RT_COPYRIGHT = Copyright © 2020 Elegant Chaos Limited. All rights reserved.

RT_COMMON_NAME = $(RT_SHORT_NAME)

// RT's own directories
RT_ROOT = $(RT_MAC_PRODUCTS_DIR)/ReleaseTools_ReleaseToolsResources.bundle/Contents/Resources
RT_SCRIPTS_PATH = $(RT_ROOT)/Scripts
RELEASE_TOOLS = $(RT_MAC_PRODUCTS_DIR)/rt

// source directories
RT_SOURCE_ROOT = $(SOURCE_ROOT)/Sources
RT_SOURCE_PATH = $(RT_SOURCE_ROOT)/$(TARGET_NAME)
RT_COMMON_SOURCE_PATH = $(RT_SOURCE_ROOT)/$(RT_COMMON_NAME)

// resource directories
RT_RESOURCE_ROOT = $(RT_SOURCE_ROOT)
RT_RESOURCE_CONTAINER = Resources
RT_RESOURCE_PATH = $(RT_RESOURCE_ROOT)/$(TARGET_NAME)/$(RT_RESOURCE_CONTAINER)
RT_COMMON_RESOURCE_PATH = $(RT_RESOURCE_ROOT)/$(RT_COMMON_NAME)/$(RT_RESOURCE_CONTAINER)

// location of the Mac built products
// (used to find AppKit things when we're building for Catalyst, and built tools)
RT_MAC_PRODUCTS_DIR = ${BUILT_PRODUCTS_DIR}/../${CONFIGURATION}

// location of the Resources/ folder inside the built application
RT_BUILT_RESOURCES_DIR = ${BUILT_PRODUCTS_DIR}/${CONTENTS_FOLDER_PATH}/Resources

// location of the Frameworks/ folder inside the built application
RT_BUILT_FRAMEWORKS_DIR = ${BUILT_PRODUCTS_DIR}/${CONTENTS_FOLDER_PATH}/Frameworks

// location of the XPCServices/ folder inside the built application
RT_BUILT_XPCSERVICES_DIR = ${BUILT_PRODUCTS_DIR}/${CONTENTS_FOLDER_PATH}/XPCServices

// Info.plist
SOURCE_INFO_PLIST_PATH = $(RT_RESOURCE_PATH)/Info.plist
DERIVED_INFO_PLIST_PATH = $(DERIVED_SOURCES_DIR)/RTInfo.plist

// standard project settings and layout
// (some of these may need overriding in the project)
INFOPLIST_FILE = $(SOURCE_INFO_PLIST_PATH)
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREFIX_HEADER = $(RT_MAC_PRODUCTS_DIR)/RTInfo.h

DEVELOPMENT_ASSET_PATHS = $(RT_COMMON_RESOURCE_PATH)/PreviewContent
PRODUCT_NAME = $(RT_PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(RT_BUNDLE_IDENTIFIER)
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(RT_TEAM)
SWIFT_VERSION = 5.1
ENABLE_PREVIEWS = YES
CODE_SIGN_ENTITLEMENTS = $(RT_RESOURCE_PATH)/$(RT_SHORT_NAME).entitlements
ASSETCATALOG_COMPILER_APPICON_NAME = $(RT_ICON_NAME)
PRODUCT_MODULE_NAME = $(TARGET_NAME)
SWIFT_OBJC_BRIDGING_HEADER = $(RT_COMMON_RESOURCE_PATH)/BridgingHeader.h
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
TARGETED_DEVICE_FAMILY = 1,2
