// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "RTCommon.xcconfig"

RT_TYPE = Tests
RT_PLATFORM = Tests

CODE_SIGN_ENTITLEMENTS =
PRODUCT_MODULE_NAME = $(TARGET_NAME)
SWIFT_OBJC_BRIDGING_HEADER =
INFOPLIST_FILE = Tests/$(TARGET_NAME)/Info.plist
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
