<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>General</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Monitoring</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Refresh Every</string>
			<key>Key</key>
			<string>RefreshInterval</string>
			<key>DefaultValue</key>
			<string>1 Minute</string>
			<key>Values</key>
			<array>
				<string>10</string>
				<string>30</string>
				<string>60</string>
				<string>300</string>
				<string>600</string>
			</array>
			<key>Titles</key>
			<array>
				<string>10 Seconds</string>
				<string>30 Seconds</string>
				<string>1 Minute</string>
				<string>5 Minutes</string>
				<string>10 Minutes</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Label Size</string>
			<key>Key</key>
			<string>TextSize</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Huge</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Creation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Default Owner</string>
			<key>Key</key>
			<string>DefaultOwner</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Display</string>
			<key>File</key>
			<string>Mac</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Mac</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
