// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 14/02/20.
//  All code (c) 2020 - present day, Elegant Chaos Limited.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "Source/ActionStatusCommon/ActionStatus.xcconfig"

ACTION_STATUS_TYPE = Mac

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.15
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
ENABLE_HARDENED_RUNTIME = YES
COMBINE_HIDPI_IMAGES = YES
